
* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#app {
    margin: 50px auto;
    width: 70%;
}

header, footer {
    box-sizing: border-box;
    display: inline-flex;
    line-height: 50px;
    width: 100%;
    height: 50px;
}

header > .shape_count {
    text-align: center;
    height: 100%;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

header > .shape_acreage {
    text-align: center;
    height: 100%;
    width: 20%;
    display: inline-block;
    box-sizing: border-box;
    border-top: 1px solid black;
    border-right: 1px solid black;
}

#context {
    height: 500px;
    width: 700px;
    border: 1px solid grey;
}

footer > .shape_per_sec {
    height: 100%;
    width: 50%;
    display: block;
    box-sizing: border-box;
}

footer > .gravity {
    height: 100%;
    width: 50%;
    display: block;
    box-sizing: border-box;
}

.buttons {
    display: inline-block;
    margin: 10px;
    line-height: 30px;
    text-align: center;
    height: 30px;
    width: 30%;
}

.buttons > * {
    display: inline-block;
    color: blue;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 10px 0 0 10px;
    width: 45%;
    height: 30px;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
}

.buttons > button:first-child {
    border-radius: 10px 0 0 10px;
}

.buttons > button:last-child {
    border-radius: 0 10px 10px 0;
}

.display {
    display: inline-block;
    line-height: 20px;
    text-align: center;
    height: 20px;
    width: 10%;
    border: 1px solid black;
    padding: 5px;
}